<ion-header>
  <ion-navbar color="primary">
    <ion-title>PROYECTO</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


  <ion-card>
      <ion-card-header *ngIf="id!=null">
          EDITAR PROYECTO
      </ion-card-header>
      <ion-card-header *ngIf="id==null">
            AGREGAR NUEVO PROYECTO
        </ion-card-header>
      <ion-card-content>
          <ion-list no-lines>
              <ion-item>
                  <ion-label floating>Nombre del Proyecto</ion-label>
                  <ion-input [(ngModel)]="proyecto.Nombre" type="text" ></ion-input>
              </ion-item>
              <ion-item>
                  <ion-label floating>Codigo Proyecto</ion-label>
                  <ion-input [(ngModel)]="proyecto.CodigoProyecto" type="text" ></ion-input>                    
              </ion-item>

              <ion-item>
                  <ion-label>Fecha de Inicio</ion-label>
                  <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="proyecto.FechaInicio"></ion-datetime>
                </ion-item>

                <ion-item>
                    <ion-label>Estado</ion-label>                    
                      <ion-checkbox [(ngModel)]="proyecto.Estado"></ion-checkbox>                    
                  </ion-item>


              <button ion-button color="primary" block outline
                (click)="crearProyectos()"
              >GUARDAR</button>

          </ion-list>
      </ion-card-content>
  </ion-card>
</ion-content>
