<ion-header>
  <ion-navbar color="primary">
    <ion-title>USUARIO</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>


  <ion-card>
      <ion-card-header *ngIf="CI!=null" >
          EDITAR USUARIO
      </ion-card-header>
      <ion-card-header *ngIf="CI==null" >
          AGREGAR NUEVO USUARIO
      </ion-card-header>
      <ion-card-content>
          <ion-list no-lines>
              <ion-item>
                  <ion-label >Nombre del Usuario</ion-label>
                  <!-- <ion-input [(ngModel)]="usuario.Nombre" type="text" ></ion-input> -->
              </ion-item>
              <ion-item>
                  <ion-label>CI</ion-label>
                  <!-- <ion-input [(ngModel)]="usuario.CI" type="text" ></ion-input>                     -->
              </ion-item>

              <ion-item>
                  <ion-label>Email</ion-label>
                  <!-- <ion-input [(ngModel)]="usuario.Email" type="text" ></ion-input>                     -->
                </ion-item>

                <ion-item>
                    <ion-label>Contraseña</ion-label>                    
                    <!-- <ion-input [(ngModel)]="usuario.Email" type="password" ></ion-input>                     -->
                  </ion-item>


              <button ion-button color="primary" block outline
                (click)="crearUsuarios()"
              >GUARDAR</button>

          </ion-list>
      </ion-card-content>
  </ion-card>
</ion-content>
