<ion-header>
        <ion-navbar color="primary">
          <ion-title>USUARIO</ion-title>
        </ion-navbar>
      </ion-header>
      
      
      <ion-content padding>
      
      
        <ion-card>
            <ion-card-header *ngIf="Email!=null">
                EDITAR USUARIO
            </ion-card-header>
            <ion-card-header *ngIf="Email==null">
                  AGREGAR NUEVO USUARIO
              </ion-card-header>
            <ion-card-content>
                <ion-list no-lines>
                        <ion-item>
                        <ion-avatar slot="item-start">
                                <img 
                                [src]="getImgContent(user.Img)" alt="Imagen">
                                <!-- <img src="'data:image/jpg;base64,'+{{u.Img}}"> -->
                            </ion-avatar>
                        </ion-item>

                        <ion-item>
                                <ion-label floating>CI</ion-label>
                                <ion-input [(ngModel)]="user.CI" type="text" ></ion-input>                    
                            </ion-item>
                    <ion-item>
                        <ion-label floating>Nombre del Usuario</ion-label>
                        <ion-input [(ngModel)]="user.Nombre" type="text" ></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label floating>Email</ion-label>
                        <ion-input [(ngModel)]="user.Email" type="text" ></ion-input>                    
                    </ion-item>
                    
                    <ion-item>
                        <ion-label floating>Clave</ion-label>
                        <ion-input [(ngModel)]="user.Clave" type="password" ></ion-input>                    
                    </ion-item>                    
                    
                    <ion-item>
                        <ion-label floating>Compania</ion-label>
                        <ion-select [(ngModel)]="user.oCompany" >
                            <ion-option *ngFor="let compania of companias" [value]="compania.Id">{{compania.Nombre}}</ion-option>
                          </ion-select>
                        <!-- <ion-input [(ngModel)]="user.oCompany" type="text" ></ion-input>                     -->
                    </ion-item>
      
                    <button ion-button color="primary" block outline
                      (click)="crearUsuarios()"
                    >GUARDAR</button>
      
                </ion-list>
            </ion-card-content>
        </ion-card>
      </ion-content>
      