<ion-header>
  <ion-navbar color="primary">
    <ion-title>HORAS EFECTIVAS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list class="accordion-list">
        <!-- First Level -->
        <ion-list-header *ngFor="let p of result; let i = index" no-lines no-padding>
          <!-- Toggle Button -->
          <button ion-item (click)="toggleSection(i)" detail-none [ngClass]="{'section-active': p.open, 'section': !p.open}">
            <ion-icon item-left name="arrow-forward" *ngIf="!p.open"></ion-icon>
            <ion-icon item-left name="arrow-down" *ngIf="p.open"></ion-icon>            
              <strong><button ion-button>Fecha:</button><button ion-button outline> {{ p.name | date: "EEEE, dd-MM-yyyy" }}</button></strong>             
              <strong><button ion-button>Total:</button> <button ion-button outline> {{ p.total }}</button> </strong>               
          </button>
     
          <ion-list *ngIf="p.values && p.open" >
            <!-- Second Level -->
            <ion-item *ngFor="let v of p.values; let j = index" no-padding [ngClass]="(j % 2 == 0) ? 'odd' : 'even'">              
              <ion-col class="child" text-wrap>               
                <!-- <h2>Proyecto:</h2><p>&nbsp;</p>
               {{v.oProyecto.Nombre}}<p>&nbsp;</p> 
                Tarea:<p>&nbsp;</p>
                {{v.oTarea.Nombre}}<p>&nbsp;</p>
                Horas:<p>&nbsp;</p>
               {{v.oHora.CantidadHoras}}<p>&nbsp;</p> -->

               <p><strong>Proyecto:</strong>
               <small>{{v.oProyecto.Nombre}}</small></p>
               <!-- <p text-lowercase>{{v.oProyecto.Nombre}}</p> -->
               <p><strong>Tarea:</strong>
               <small>{{v.oTarea.Nombre}}</small></p>
               <!-- <p text-lowercase>{{v.oTarea.Nombre}}</p> -->
               <p><strong>Horas:</strong>
               <button ion-button outline>{{v.oHora.CantidadHoras}}</button></p>
             
              </ion-col>
            </ion-item>
          </ion-list>
        </ion-list-header>
      </ion-list>



<!-- <ion-list>
  
  <ion-item-group *ngFor="let p of result" >
      <ion-item-divider color="primary">
      <ion-col><strong>Fecha:</strong>
        {{ p.name | date: "EEEE, dd-MM-yyyy" }}
      </ion-col>
      <ion-col><strong>Total:</strong>
          {{ p.total }}
        </ion-col>        
      </ion-item-divider>
      <ion-grid>      
      <ion-row *ngFor="let v of p.values; let i = index;" [ngClass]="(i % 2 == 0) ? 'odd' : 'even'">         
        
          <ion-col col-12>
          <ion-row>      
              <strong>Proyecto: </strong> <p>&nbsp;</p>
           {{v.oProyecto.Nombre}}
          </ion-row>
          </ion-col>
          <ion-col col-12>
          <ion-row>
            <strong>Tarea: </strong> <p>&nbsp;</p>
                     {{v.oTarea.Nombre}}</ion-row>
          </ion-col>

            <ion-col col-12>
          <ion-row><strong>Horas: </strong><p>&nbsp;</p>
           {{v.oHora.CantidadHoras}}</ion-row>
          </ion-col>

        </ion-row>
      </ion-grid>
  </ion-item-group>
  
  </ion-list> -->
</ion-content>
