<ion-header>
  <ion-navbar color="primary">
    <ion-title>HORAS EFECTIVAS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<!-- <ion-list>
  <ion-list-header>
    Horas
  </ion-list-header>   
  </ion-list>
  <ion-item *ngFor="let k of horasefectivas">

    <ion-col><strong>Fecha:</strong>
      {{k.oHora.Fecha | date: "E,dd-MM-yyyy"}}
    </ion-col>
  <ion-row justify-content-end>
    <ion-col><strong>Proyecto:</strong>
      {{k.oProyecto.Nombre}}                
    </ion-col>
  </ion-row>
  <ion-row justify-content-end>
    <ion-col><strong>Tarea:</strong>
        {{k.oTarea.Nombre}}
    </ion-col>
</ion-row>
  <ion-row justify-content-end>
    <ion-col><strong>Cantidad de Horas:</strong>
      {{k.oHora.CantidadHoras}}                
    </ion-col>
  </ion-row>
</ion-item> -->




<ion-list>
  <ion-list-header>
    Horas
  </ion-list-header>   
  </ion-list>
  <ion-item *ngFor="let p of result">

      <ion-col><strong>Total de Horas:</strong>
        {{ p.total }}
      </ion-col>

      <ion-col><strong>Fecha:</strong>
        {{ p.name }}
      </ion-col>



      <ion-row *ngFor="let v of p[values]">

  <ion-row justify-content-end>
    <ion-col><strong>Proyecto:</strong>
      {{ p[v].oProyecto.Nombre }}   
            
    </ion-col>

  </ion-row>
  <ion-row justify-content-end>
    <ion-col><strong>Tarea:</strong>
      {{ p[v].values[v].oTarea.Nombre }}
    </ion-col>

</ion-row>
  <ion-row justify-content-end>
    <ion-col><strong>Cantidad de Horas:</strong>
      {{ result[p].values[v].oHora.CantidadHoras }}             
    </ion-col>

  </ion-row>

</ion-row>

</ion-item>



</ion-content>
