<ion-header>
  <ion-navbar color="primary">
    <ion-title>ASIGNAR USUARIOS A PROYECTOS</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card>
      <ion-card-header >
        ASIGNAR USUARIOS A PROYECTOS
      </ion-card-header>
      <ion-card-content>
          <ion-list no-lines>

              <ion-item>
                  <ion-label>Proyecto</ion-label>
                  <ion-select [(ngModel)]="proyecto.IdProyecto" multiple="false"  (ionChange)="onProyectoChange(proyecto.IdProyecto)">
                    <ion-option *ngFor="let proyecto of proyectos"  [value]="proyecto.IdProyecto">{{proyecto.Nombre}}</ion-option>
                  </ion-select>
                </ion-item>

                  <ion-item>
                    <ion-label>Usuarios</ion-label>
                    <ion-select [(ngModel)]="useraasignar.ci" multiple="true" okText="Listo" cancelText="Cancelar">
                      <ion-option *ngFor="let useraasignar of listausuariosaasignar" [value]="useraasignar.ci">{{useraasignar.nombre}}</ion-option>
                    </ion-select>
                  </ion-item>
              
              <button ion-button color="primary" block outline
                (click)="AsignarUsuarioAProyecto()"
              >ASIGNAR</button>

          </ion-list>
      </ion-card-content>
  </ion-card>

</ion-content>
