<ion-header>
  <ion-navbar color="primary">
    <ion-title>ASIGNAR USUARIOS A PROYECTOS</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-card>
      <ion-card-header >
        ASIGNAR USUARIOS A PROYECTOS
      </ion-card-header>
      <ion-card-content>
          <ion-list no-lines>

              <ion-item>
                  <ion-label>Proyecto</ion-label>
                  <ion-select [(ngModel)]="proyecto" multiple="false" [compareWith]="compareProyectos"  (ionChange)="onProyectoChange(proyecto.IdProyecto)">
                    <ion-option *ngFor="let proyecto of proyectos"  [value]="proyecto">{{proyecto.Nombre}}</ion-option>
                  </ion-select>
                </ion-item>

                  <ion-item>
                    <ion-label>Usuarios</ion-label>
                    <!-- <ion-searchbar
                        [(ngModel)]="termino"    
                        (ionInput)="buscar(termino)">
                      </ion-searchbar> -->
                      
                    <ion-select [(ngModel)]="useraasignar" multiple="true" okText="Listo" cancelText="Cancelar" [compareWith]="compareUsuarios">                        
                      <ion-option *ngFor="let useraasignar of listausuariosaasignar" [value]="useraasignar">{{useraasignar.Nombre}}</ion-option>
                    </ion-select>
                  </ion-item>
              
              <button ion-button color="primary" block outline
                (click)="AsignarUsuarioAProyecto()"
              >ASIGNAR</button>
              <ion-item>
                </ion-item>
          </ion-list>

          <ion-list>
            <ion-list-header>
              Usuarios:
            </ion-list-header>    
                <ion-item *ngFor="let u of usuariosDeProyecto">
              <ion-col>
                {{u.Nombre}}                
              </ion-col>              
            </ion-item>
            </ion-list>
      </ion-card-content>
  </ion-card>

</ion-content>
